nav .tools a, nav .lang a {
  .dropdown-item;
}

@font-face {
  font-family: Propaganda;
  src: url(font/PROPAGAN.ttf);
}

.fykos {
  font-family: Propaganda, sans-serif !important;
  text-decoration: none !important;
}

a:hover {
  text-decoration: none !important;
}

.navbar-brand img {
  margin: -15px -5px;
}

.jumbotron {
  padding-top: 0 !important;
}

.header .nav-container {
  margin-bottom: 2rem;
}

.navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/></svg>");
}

footer {
  text-align: center;
  .level1 {
    justify-content: space-around;
    flex-wrap: wrap;
    display: flex;
    p {
      width: 250px;
      img {
        padding: 1rem;
        width: 100%;
      }
    }
  }
}

.image-show.sous-podzim {
  float: right !important;
}

// space after icons
.fa {
  margin-right: .25em;
}

aside, #accordion {
  ul {
    .flex-column;
    .nav;
    li {
      .nav-item;
      .li a {
        .nav-link;
      }
    }
  }
}

.breadcrumb {
  .bchead {
    display: none;
  }
  & > * {
    margin: 0 .25rem;
  }
}

.org .org-image {
  height: 15rem;
  background-size: cover;
  background-position-y: 50%;
}
