body {
	behavior:url('css/css_explorer-hover.htc');
	text-align:center;
}
#page {
  text-align:left;
}
p, a, li, dt, dd, th, td, label, input, code,div {
	/*font-size : x-small;*/
}
h1 {
	/*font-size:large;*/
}
h2 {
	/*font-size: small;*/
}
h3 {
	/*font-size: x-small;*/
}

#menu  ul ul {
	margin-top:-3px;
}

#content #zadani ol, #content #zadani ul {
	margin-left:0px;
}

#content form div#fm-submit {
	margin-right:5px;
}
#content form #fm-submit input {
	color:#1175da;
	font-size:x-small;
	font-variant:small-caps;
	margin:0px;
	margin-left:5px;
	padding:0px;
	border:1px solid #d0d8dc;
}

#content #forum li div dl dd.reagovat {
	float:none;
}
#content #forum ul.vlakno_root {
	padding-left:0px;
	background: none;
}
#content #forum li {
	margin:0px;
	padding:0px;
	padding-left:20px;
	padding-top:15px;
	background:url('../pic/graphics/cross_explorer.png') 0px 45px no-repeat;
	list-style:none;
	list-style-image : none;
}
#content #forum li.prispevek_root {
	background:none;
	padding-left:0px;
}
#content #forum li.prispevek_posledni {
	background:url('../pic/graphics/end_explorer.png') 0px 0px no-repeat;
}

#content #vysledkovka {
	text-align : center;
}
#content #vysledkovka h2 {
	text-align : left;
}
#content #vysledkovka col.jmeno, #content #vysledkovka col.skola {
	text-align : left;
}

#content #news dl dd {
	float:none;
}
#content #news dl dt a {
	padding-bottom : 1px;
}

