.bg-fykos-blue {
  background-color: @color-fykos-blue !important;
}

.bg-fykos-pink {
  background-color: @color-fykos-pink !important;
}

.bg-fykos-lime {
  background-color: @color-fykos-lime !important;
}

.bg-fykos-orange {
  background-color: @color-fykos-orange !important;
}

.bg-fykos-purple {
  background-color: @color-fykos-purple !important;
}

.bg-fykos-green {
  background-color: @color-fykos-green !important;
}
