.namespace-color(@color) when (iscolor(@color)) {
  .card-header {
    background-color: @color;
  }
  .card {
    border-color: @color;
  }
  .navbar-inverse {
    background-color: @color;
  }
  .progress-bar {
    background-color: @color;
  }
  .navbar.bg-light a:not(.active):not(:focus) {
    color: @color;
  }
  .page-header {
    svg {
      stroke: @color;
    }
    .fykos {
      color: @color;
    }
    &:hover {
      svg {
        stroke: darken(@color, 20%);;
      }
      .fykos {
        color: darken(@color, 20%);;
      }
    }
  }
}

.namespace-color(@color-fykos-blue);

#dokuwiki__top[data-namespace="akce:soustredeni"] {
  .namespace-color(@color-fykos-lime);
}

#dokuwiki__top[data-namespace="sex"] {
  .namespace-color(@color-fykos-pink);
}

#dokuwiki__top[data-namespace="akce:dsef"], #dokuwiki__top[data-namespace="akce:tsaf"] {
  .namespace-color(@color-fykos-green);
}

#dokuwiki__top[data-namespace="akce:fyziklani"] {
  .namespace-color(@color-fykos-purple);
}

#dokuwiki__top[data-namespace="akce"] {
  .namespace-color(@color-fykos-orange);
}
