@media (max-width: (@ini_screen_sm - 1)){
    .topbar{
        display: none;
    }
}
.fastLink(@c)  when (iscolor(@c)){

    span{       
        // color:@c;
        color:white;
        border-color: @c;
    }



    &:hover{
        span{
            color:white;
            border-color: white;
        }
        background-color: @c;

    }

}
@megaScreen: 1400px;
.topbarBG(@u){
    background-image:linear-gradient( to bottom,fade(@ini_text_alt,5%), fade(@ini_text_alt,25%),fade(@ini_text_alt,100%)),url("images/bg_start/@{u}");
}
@bg:rgba(0,0,0,.5) ;
.topbar{ 

    .home-link{  
        span{
            font-size: 500%;
        } 
        span.q{
            font-size: 200%;
        }

        div{                

            text-align: center;   
            color:white;              
        }
        padding: 0;
        align-self:flex-end;
        background-color:transparent;


        svg{
            stroke-linecap:round;
            stroke:white;      
            fill:none;
            stroke-width:150;
            height: 150px;
            width: 100%;
        }

        order:0;
        display: flex;
        justify-content:center;
    }




    .fast-links{
        display: flex;
        order:1;
        width: 100%;
        justify-content:space-around;
        margin-bottom: 1em;

    }
    .breadcrumbs{
        order:2;
        width: 100%;
        text-align: center;
        font-size: 120%;
        color:white;
    }
    .fast-link{


        span{
            text-align: center;
            width: inherit;           
            transition-duration: 500ms;
        }
        transition-duration: 500ms;
        &:hover{
            span{
                width: 100%;            
            } 
        }
        &.result-link{
            .fastLink(#7511da);
        }
        &.task-link{
            .fastLink(#da7511);            
        }
        &.fol-link{
            .fastLink(#75da11);           
        }
        &.fof-link{
            .fastLink(#da1175);           
        }     

        span{
            margin: .5em;
            border-bottom: 4px solid ;
        }
        display: flex;
        justify-content:center;
        align-items: center;
        flex-wrap:wrap;
        background-color: @bg;

        padding: .25em;
        @media (max-width: @megaScreen){
            font-size: 150%;
        }
        font-size: 200%;
    }
    &[data-bgNo="1"]{
         .topbarBG('04.jpg');
    }
    &[data-bgNo="2"]{
         .topbarBG('18a.jpg');
    }
    &[data-bgNo="3"]{
         .topbarBG('47.jpg');
    }
    &[data-bgNo="4"]{
         .topbarBG('55.jpg');
    }
    &[data-bgNo="5"]{
         .topbarBG('58.jpg');
    }
    &[data-bgNo="6"]{
         .topbarBG('68.jpg');
    }
    
   
    background-size: cover;
    background-position-y: 25%;

    display:flex;
    justify-content: space-around;   
    flex-wrap: wrap;  
    align-content: space-around;
    @media (max-width: @megaScreen){

       // height: 530px;
        .home-link{  
            span{
                font-size: 300%;
            } 
            span.q{
                font-size: 150%;
            }
            svg{
                height: 150px;
            }
            // opacity: `Math.random()`;
        }
    }
    //height: 850px;
}

body{
    // background-color: lighten(#1175da,30%);
}
#page{
    background-color: white;
    border-radius: 0;
}

