#user-box {
    
    position:relative;
    //top:30px;
   // right:84px;
    //padding : 4px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #f5f5f5;
    background-color: rgba(249,249,249,.7);
}

#user-box>ul{
    list-style-type: none;
    margin: 0px;    
    padding: 0px;
}
#user-box>ul>li{
    float: left;
    margin-left: 10px;
}
#user-box>ul>li:first-child{
    margin-left: 0px;
}
#user-box>ul>li>a{
    display: inline-block;
    height: 17px;
    padding-top: 3px;
}
#user-box a{
    font-size: medium!important;
}
#user-box a.login {
    font-size: medium!important;
    //background:url('images/okBW.gif') center right no-repeat;
    padding-right: 25px;
}

#dokuwiki-control {
    width: 200px;
    position: absolute;
    top: 2em;
    font-size: medium;
    display: none;
    border:1px solid #d0d8dc;
    background:url('images/menu-transparent.png');
    box-shadow: 2px 2px 2px 0px rgba(208,216,220,.7);    
    padding: 5px;
}

#dokuwiki-control>div {
    margin-bottom: 10px;
}

#dokuwiki-control ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#dokuwiki-control ul li a{
    display: block;
    padding: 5px 0px;
}

#dokuwiki-control input[type=text] {
    width: 90%;
}